FFmpegLibrary/jni/ffmpeg-build/**
FFmpegLibrary/bin/**
FFmpegLibrary/local.properties
FFmpegLibrary/gen/**
FFmpegLibrary/tmp/**
FFmpegLibrary/obj/**
FFmpegLibrary/libs/**
FFmpegLibrary/proguard/**
FFmpegLibrary/.settings/**
FFmpegLibrary/jni/.settings/**

FFmpegExample/bin/**
FFmpegExample/gen/**
FFmpegExample/tmp/**
FFmpegExample/obj/**
FFmpegExample/local.properties
FFmpegExample/proguard/**
FFmpegExample/.settings/**


.cproject
.classpath
.project
*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
