#Specific
library-jni/libs/
library-jni/obj/
library-jni/jni/ffmpeg-build/
library-jni/jni/libyuv/

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Gradle
.gradle
build
local.properties

#Other
.DS_Store
tmp
*.swp
*.tmp
*.bak
*.swp
*.launch
