FFmpegLibrary/jni/ffmpeg-build/**
FFmpegLibrary/bin/**
FFmpegLibrary/gen/**
FFmpegLibrary/tmp/**
FFmpegLibrary/obj/**
FFmpegLibrary/libs/**
FFmpegLibrary/proguard/**

FFmpegExample/bin/**
FFmpegExample/gen/**
FFmpegExample/tmp/**
FFmpegExample/obj/**
FFmpegExample/proguard/**


*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
