[submodule "library-jni/jni/ffmpeg"]
	path = library-jni/jni/ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
[submodule "library-jni/jni/vo-aacenc"]
	path = library-jni/jni/vo-aacenc
	url = git://git.code.sf.net/p/opencore-amr/vo-aacenc
[submodule "library-jni/jni/vo-amrwbenc"]
	path = library-jni/jni/vo-amrwbenc
	url = git://git.code.sf.net/p/opencore-amr/vo-amrwbenc
[submodule "library-jni/jni/x264"]
	path = library-jni/jni/x264
	url = git://git.videolan.org/x264.git
[submodule "library-jni/jni/tropicssl"]
	path = library-jni/jni/tropicssl
	url = https://github.com/appunite/tropicssl.git
[submodule "library-jni/jni/libass"]
	path = library-jni/jni/libass
	url = https://github.com/libass/libass.git
[submodule "library-jni/jni/fribidi"]
	path = library-jni/jni/fribidi
	url = https://github.com/appunite/fribidi.git
[submodule "library-jni/jni/freetype2"]
	path = library-jni/jni/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "library-jni/jni/libyuv"]
	path = library-jni/jni/libyuv
	url = https://chromium.googlesource.com/external/libyuv
